# Framework principal
fastapi==0.115.6
uvicorn[standard]==0.34.0

# Base de datos
pymysql==1.1.1
sqlalchemy==2.0.36

# Validación y esquemas
pydantic==2.10.4
pydantic-settings==2.7.1

# Variables de entorno
python-dotenv==1.0.1

# Pruebas
pytest==8.3.4
pytest-asyncio==0.25.2
httpx==0.28.1

# Utilidades adicionales
python-multipart==0.0.20

cryptography